html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #585858;  
}
.container {
    max-width: 1200px;
    width: 100%;
}

.hero {
    height: 150vh;
    background-image: linear-gradient(#faa7b8, #F2F2F2);
    background-size: cover;
    background-position: center;
} 
.header{
    width: 100vw;
    background-color:#F2F2F2;
    display: flex;
    justify-content: center;
}
.navbar-brand{
    font-size: 10vh;
    color: #585858;
    font-weight: 550;
    letter-spacing: -18px;
}
.navbar{
    padding: 0px;
}

.nav-link{
    color: #585858;
    font-size: 25px;
}
.nav-item{
    font-size: 10px;
    padding: 0px;
}
.card {
width: 100%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Profile Image  */
img {
    size: 30%;
    height:auto;
}

a {
color: #111
}

.photo {
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
display: block;
}

.photo img {
width: auto;
height: 420px;
object-fit: cover;
box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
display: block;
transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
margin-top: -10px;
}

.photo:hover img {
box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.photo .glow-wrap {
overflow: hidden;
position: absolute;
width: 100%;
height: 100%;
top: 0;
margin-top: -10px;
}

.photo .glow {
display: block;
position:absolute;
width: 40%;
height: 200%;
background: rgba(255,255,255,.2);
top: 0;
filter: blur(5px);
transform: rotate(45deg) translate(-450%, 0);
transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow {
transform: rotate(45deg) translate(450%, 0);
transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap {
margin-top: 0;

}
.aboutMe div {
    width: auto;
    height: 420px;
    object-fit: cover;
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
    border: 5px;
}

/* About Me Div */
.aboutMe:hover div {
box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.aboutMe .glow-wrap {
overflow: hidden;
position: absolute;
width: 100%;
height: 100%;
top: 0;
margin-top: 0px;
}

.aboutMe .glow {
display: block;
position:absolute;
width: 40%;
height: 200%;
background: rgba(255,255,255,.2);
top: 0;
filter: blur(5px);
transform: rotate(45deg) translate(-450%, 0);
transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.aboutMe:hover .glow {
transform: rotate(45deg) translate(450%, 0);
transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.aboutMe:hover div,
.aboutMe:hover .glow-wrap {
margin-top: 0;
}

/* Ends */

#author {
text-transform: uppercase;
font-size: 14px;
text-decoration: none;
position: absolute;
bottom: 25px;
left: 50%;
transform: translateX(-50%);
color: #888;
}

#author:hover {
color: #111;
}


/* About me div  */
.aboutMe {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 70vw;
    text-align: center;
    background-color: white;
    color: #888;
    }

p {
    padding: 10px;
}

/* Mobile media */
@media only screen and (max-width: 375px) {
    img {
        size: 100%;
        max-width:170%;
        height:auto;
        position: relative;
        left: -35%;
        top: 20px;
    }

    .aboutMe {
        position: absolute;
        top: 160%;
        width: 85vw;
    }
    .nav-link{
        font-size: 20px;
    }
    .hero {
        height: 200vh;
    } 
  }
